<select id="sort-by">
  {% assign sort_by = collection.sort_by | default: collection.default_sort_by %}

  {% for option in collection.sort_options %}
    <option
      value="{{ option.value | escape }}"
      {% if option.value == sort_by %}
        selected="selected"
      {% endif %}
    >
      {{ option.name | escape }}
    </option>
  {% endfor %}
</select>

<script>
  Shopify.queryParams = {};

  // Preserve existing query parameters
  if (location.search.length) {
      var params = location.search.substr(1).split('&');

      for (var i = 0; i < params.length; i++) {
      var keyValue = params[i].split('=');

      if (keyValue.length) {
          Shopify.queryParams[decodeURIComponent(keyValue[0])] = decodeURIComponent(keyValue[1]);
      }
      }
  }

  // Update sort_by query parameter on select change
  document.querySelector('#sort-by').addEventListener('change', function(e) {
      var value = e.target.value;

      Shopify.queryParams.sort_by = value;
      location.search = new URLSearchParams(Shopify.queryParams).toString();
  });
</script>
