{% comment %}
  Renders a product or variant price

  Accepts:
  - product: {Object} Product Liquid object
  - variant: {Object} Variant Liquid object (optional)

  Usage:
  {% render 'price', product: product, variant: variant %}
{% endcomment %}

{%- if variant -%}
  {% if variant.compare_at_price > 0 %}
    <s>
      {{- variant.compare_at_price | money -}}
    </s>
  {% endif %}
  <span>
    {{- variant.price | money -}}
  </span>
{%- else -%}
  {{- product.price | money -}}
  {%- if product.price_varies -%}
    <span> — </span>
    {{- product.price_max | money -}}
  {%- endif -%}
{%- endif -%}