{% comment %}
  This is demo css, should be removed on production.
{% endcomment %}
<style>
  .cart-item__details img {
    width: 150px;
    height: 150px;
    object-fit: cover;
  }
  .ajax-cart {
    border: 1px solid;
    margin: 1rem 0;
    padding: 0.5rem;
  }
</style>
<div style="ddisplay: none" class="ajax-cart">
  <div class="ajax-cart__overlay" data-ajax-cart-toggle-class-button="js-ajax-cart-opened"></div>
  <div
    aria-modal="true"
    class="ajax-cart__inner"
    role="dialog"
  >
    <div class="ajax-cart__section" data-ajax-cart-section>
      <div class="ajax-cart__header">
        <h2 class="title">Ajax cart</h2>
        <button
          class="close-button"
          data-ajax-cart-toggle-class-button="js-ajax-cart-opened"
          type="button"
          aria-label="Close"
        >
          Close
        </button>
      </div>
      {%- if cart != empty -%}
        <form class="ajax-cart__body" action="/cart" method="post" id="ajax-cart">
          {%- render 'ajax-cart-item' for cart.items as item -%}
          <div class="ajax-cart__footer">
            <div>
              <h3>Cart note:</h3>
              <textarea
                data-ajax-cart-property-input
                name="note"
                placeholder="Cart note"
              >
              {{ cart.note }}
            </textarea>
            </div>

            <div class="ajax-cart__footer-buttons-section">
              <button
                type="submit"
                id="checkout"
                name="checkout"
                {% if cart == empty %}
                  disabled
                {% endif %}
                form="ajax-cart"
              >
                Checkout
              </button>
              <br>
              <a class="secondary-button" href="{{ routes.cart_url }}"> Cart page </a>
            </div>
          </div>
        </form>

      {%- else -%}
        <div class="ajax-cart__empty">
          <h2>Cart is empty</h2>
          <a href=" {{ routes.all_products_collection_url }}">Shop all</a>
        </div>
      {%- endif -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Ajax Cart",
  "settings": [
    {
      "type": "header",
      "content": "Main Settings"
    },
    {
      "type": "text",
      "id": "cart_title",
      "label": "Title",
      "default": "My Bag"
    },
    {
      "type": "text",
      "id": "cart_text",
      "label": "Short text",
      "default": "Free shipping on all domestic orders over $150"
    },
    {
      "type": "text",
      "id": "cart_empty",
      "label": "Empty cart text",
      "default": "Oops, There’s nothing in your cart"
    }
  ]
}
{% endschema %}
