{%- render 'stylesheet', name: 'drawer-checkbox' -%}

<div class="drawer-nojs">
  <input
    type="checkbox"
    class="drawer-nojs__checkbox"
    id="Drawer-nojs-checkbox"
  >
  <label for="Drawer-nojs-checkbox" class="drawer-nojs__label">drawer-nojs button</label>
  <div class="drawer-nojs__body drawer-nojs__body--left">
    <label for="Drawer-nojs-checkbox" class="drawer-nojs__label">Close</label>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis velit ligula, efficitur et ex et, iaculis placerat
      nunc. Etiam vehicula, ex et gravida condimentum, dolor arcu blandit eros, quis eleifend erat enim a quam. Aliquam
      tempus, mauris sit amet porttitor lacinia, erat sapien blandit metus, et scelerisque lacus risus non nibh. Sed ac
      interdum magna. Nullam a facilisis diam, vitae lacinia lorem. Nulla turpis orci, accumsan sed ornare id, mollis a
      arcu. Donec viverra metus odio. Proin hendrerit varius urna a aliquam. Ut pretium nisi quis dignissim tincidunt.
      Suspendisse lacinia lacus quis lectus suscipit euismod. Praesent eu iaculis urna, id hendrerit nisi. Curabitur
      feugiat nulla a est sagittis porta.
    </p>
    <p>
      Aenean quis ipsum nisi. Quisque porta sem non purus malesuada, in mattis ex gravida. Donec consectetur semper nisl
      in varius. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed
      cursus lacinia congue. Maecenas non quam dolor. Sed non mauris nisi. Nam condimentum tellus quis diam tincidunt
      pellentesque. Duis eget odio elit. Nulla suscipit justo eget porttitor faucibus. Mauris eu finibus augue, dapibus
      euismod est. Fusce fermentum aliquet blandit. Phasellus tempor neque ac hendrerit fermentum. Sed auctor sed libero
      et bibendum. Mauris nec tortor tincidunt, pellentesque mauris in, eleifend velit. Duis arcu justo, condimentum sit
      amet porttitor sit amet, rhoncus ut lorem.
    </p>
  </div>
</div>

{% schema %}
{
  "name": "drawer-nojs",
  "settings": [],
  "presets": [
    {
      "name": "drawer-nojs",
      "category": "drawer-nojs"
    }
  ]
}
{% endschema %}
