{%- comment -%}
Render product card styles in advance in order to avoid flickering when the content gets updated via ajax.
TODO: consider using inline stylesheet if the first screen rendering is blocked by product card styles
{%- endcomment -%}
{%- render 'stylesheet', name: 'product-card' -%}

{%- liquid
  assign collection_description = collection.description | strip | default: ''
-%}

<div>
  <h1 class="title">{{- collection.title | escape -}}</h1>
  {%- if collection_description != '' -%}
    <div>{{ collection_description }}</div>
  {%- endif -%}
  {%- if collection.image -%}
    <image-loader>
      {{- collection.image | image_url: width: collection.image.width | image_tag -}}
    </image-loader>
  {%- endif -%}
</div>

<div>
  {%- render 'facets', results: collection -%}
</div>

<div data-facets-form-content="products-list">
  <component-loader>
    {%- if collection.products.size == 0 -%}
      <div>
        [No products]
      </div>
    {%- else -%}
      <div>
        {% paginate collection.products by 8 %}
          <infinite-paginate>
            {%- render 'infinite-paginate', type: 'load-prev', paginate: paginate -%}
            <div data-infinite-paginate-content data-infinite-paginate-loading-class="my-loading-class">
              <component-loader>
                {% for product in collection.products %}
                  <hr />
                  <div>
                    {%- render 'product-card', product: product, without_css: true -%}
                  </div>
                {% endfor %}
              </component-loader>
            </div>
            {%- render 'infinite-paginate', type: 'load-more', paginate: paginate -%}
          </infinite-paginate>
        {% endpaginate %}
      </div>
    {%- endif -%}
  </component-loader>
</div>

{% schema %}
{
  "name": "Collection",
  "settings": []
}
{% endschema %}
