{%- render 'stylesheet', name: 'password' -%}

<div class="main-password">
  <div class="main-password__body">
    <h1 class="main-password__body-title">Coming soon...</h1>
    <div class="main-password__body-newsletter">
      {{- section.settings.newsletter_form -}}
    </div>

    <div>
      {%- form 'storefront_password' -%}
        <label
          class="form-element{% if form.errors %} form-element--error{% endif %}"
          for="password"
        >
          Password
        </label>
        <input
          type="password"
          name="password"
          id="password"
          data-smart-form-hide-toggler
          class="form-element{% if form.errors %} form-element--error{% endif %}"
          autocomplete="current-password"
          {% if form.errors %}
            aria-invalid="true"
            aria-describedby="PasswordLoginForm-password-error"
          {%- endif -%}
          placeholder="Enter password"
        >
        {%- if form.errors -%}
          <small class="form-element form-element--error">{{- form.errors | default_errors -}}</small>
        {%- endif -%}
        <button type="submit" class="primary-button">Submit</button>
      {%- endform -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Main Password",
  "settings": [
    {
      "type": "liquid",
      "id": "newsletter_form",
      "label": "Newsletter form",
      "default": "<div class='klaviyo-form-SJLAFx'></div>"
    }
  ]
}
{% endschema %}
